/*************************************/
/*  CSS for Portfolio Overview       */
/*                                   */
/*  Author: Nick D'Orazio            */
/*  Created: 09-14-2024              */
/*  Last Updated: 09-14-2024         */
/*                                   */
/*************************************/


/******************/
/* Root Variables */
/******************/

:root {
    /* Page container colors */
    --color-header: #0A0908;
    --color-nav: #49111C;
    --color-main: #d3d0cb;
    --color-footer: #646881;
    --color-section: #ACBEA3;
    --color-horizontal-rule: radial-gradient(circle, rgba(2,0,36,1) 30%, rgba(79,9,121,1) 64%, rgba(0,212,255,1) 100%);
}

:root {
    /* Border varibales */
    --border-type: solid;
    --border-size: .2rem;
    --color-border: black;
}

:root {
    /* Text variables */
    --color-text: black;
}

/*********************/
/*     Text Styles   */
/*********************/

.centered-text {
    text-align: center;
}

/*********************/
/*  Page Styles      */
/*********************/

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-element {
    flex: 1 0 auto;
    min-height: 100%;
}

/*********************/
/* Header Styles     */
/*********************/

.header-container {
    min-height: 10vh;
    background-color: var(--color-header);
}

.header-title {
    color: white;
    font-size: 5rem;
}

/*********************/
/*    Nav Styles     */
/*********************/

.nav-container {
    min-height: 5vh;
    background-color: var(--color-nav);
    display: flex;
}

.nav-element {
    color: white;
    margin: 1rem;
    font-size: 1.5rem;
    justify-content: center;
}

.nav-element:first-child {
    margin-right: auto;
}

.nav-element:nth-last-child(2) {
    margin-left:auto
}


/*********************/
/*  Main Styles      */
/*********************/

.main-container {
    background-color: var(--color-main);
    min-height: 75vh;
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
}

/**********************/
/*  Horizontal Rule   */
/**********************/

.horizontal-rule {
    background: var(--color-nav);
    background: var(--color-horizontal-rule);
    min-height: .5vh;
}

/**********************/
/*  Content Styles    */
/**********************/

.section-element {
    padding: 1rem;
    min-width: 500px;
    max-height: 500px;
    flex: 1 0 25%;
    background-color: var(--color-section);
    border: var(--border-size) var(--border-type) var(--color-border);
}

/**********************/
/*  Footer Styles     */
/**********************/

.footer-container {
    min-height: 10vh;
    background-color: var(--color-footer);
}

.footer-text {
    font-size: 2rem;
    color: var(--color-text);
}
