:root {
    --color-header: #0A0908;
    --color-nav: #49111C;
    --color-main: #d3d0cb;
    --color-footer: #646881;
    --color-section: #ACBEA3;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-element {
    flex: 1 0 auto;
    min-height: 100%;
    background-color: green;
}

.main-container {
    background-color: var(--color-main);
}

.header-container {
    min-height: 10vh;
    background-color: var(--color-header);
}

.header-title {
    color: white;
    text-align: center;
    font-size: 5rem;
}

.nav-container {
    min-height: 5vh;
    background-color: var(--color-nav);
    display: flex;
    justify-content: center;
}

.nav-element {
    color: white;
    margin: 1rem;
}

.nav-element:last-child {
    align-items: flex-end;
}

.main-container {
    min-height: 75vh;
    display: grid;
    grid-template-columns: auto auto;
}

.project-nav-container {
    min-width: 10vw;;
    order: 1;
    margin: 2rem;
}

.main {
    background-color: var(--color-main);
    display: grid;
    order: 2;
    min-width: 80vw;
}

.section-element {
    margin: 2rem;
    background-color: var(--color-section);
    order: 2;
}

.footer-container {
    min-height: 10vh;
    background-color: var(--color-footer);
}

.footer-text {
    font-size: 2rem;
    color: black;
    text-align: center;
}
