/**********************/
/*  Footer Styles     */
/**********************/

.footer-container {
    min-height: 1vh;
    background-color: var(--color-footer-background-primary);
    min-width: 100vw;
    min-height: 5vw;
}

.footer-text {
    font-size: 2rem;
    text-align: center;
    color: var(--color-text-footer-primary);
}
