/*************************************/
/*  CSS for Portfolio Overview       */
/*                                   */
/*  Author: Nick D'Orazio            */
/*  Created: 09-14-2024              */
/*  Last Updated: 09-14-2024         */
/*                                   */
/*************************************/


/*********************/
/*  Main Styles      */
/*********************/

.main-container {
    background-color: var(--color-main-background-primary);
    min-height: 75vh;
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    min-height: 100%;
}

.head-and-nav-container {
    position: fixed;
}

.scrollable-container {
    overflow-y: scroll;
}

