/******************/
/* Project Styles */
/******************/

.project-container {
    padding: 1rem;
    min-width: 25%;
    max-width: 100%;
    flex: 1 0 33%;
    display: flex;
    background-color: var(--color-section-background-primary);
    border: var(--border-size) var(--border-type) var(--color-border);
    border-radius: .3rem;
    font-size: 2rem;
    color: var(--color-text-main-primary);
    overflow-y: scroll;
}

.project-container:hover {
    background-color: var(--color-section-background-secondary);
}