/*************************************/
/*  CSS for Portfolio Overview       */
/*                                   */
/*  Author: Nick D'Orazio            */
/*  Created: 09-14-2024              */
/*  Last Updated: 09-14-2024         */
/*                                   */
/*************************************/

@import "./styles.css";
@import "./themes/index.css";
@import "./components/index.css";

/******************/
/* Root Variables */
/******************/

:root {
    overscroll-behavior: none;
}

:root {
    --border-type: solid;
    --border-size: .2rem;
    --color-border: black;
}

/*********************/
/*  Page Styles      */
/*********************/
html, body {
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-element {
    flex: 1 0 auto;
    min-height: 100%;
}

