/*************************************/
/*  CSS for Portfolio Overview       */
/*                                   */
/*  Author: Nick D'Orazio            */
/*  Created: 09-14-2024              */
/*  Last Updated: 09-14-2024         */
/*                                   */
/*************************************/

@import "./nav.css";
@import "./main.css";
@import "./footer.css";
@import "./header.css";
@import "./styles.css";

/******************/
/* Root Variables */
/******************/

:root {
    /* Page container colors */
    --color-red: #49111C;
    --color-white: #d3d0cb;
    --color-purple: #646881;
    --color-green: #ACBEA3;
    --color-horizontal-rule: radial-gradient(circle, rgba(2,0,36,1) 30%, rgba(79,9,121,1) 64%, rgba(0,212,255,1) 100%);
    overscroll-behavior: none;
}

:root {
    /* Border varibales */
    --border-type: solid;
    --border-size: .2rem;
    --color-border: black;
}

/*********************/
/*  Page Styles      */
/*********************/
html, body {
    margin: 0;
    padding: 0;
    
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-element {
    flex: 1 0 auto;
    min-height: 100%;
}

