/*************************************/
/*  CSS for Portfolio Overview       */
/*                                   */
/*  Author: Nick D'Orazio            */
/*  Created: 09-14-2024              */
/*  Last Updated: 09-14-2024         */
/*                                   */
/*************************************/



/*********************/
/* Header Styles     */
/*********************/

.header-container {
    min-height: 10vh;
    background-color: var(--color-header);
    min-width: 100vw;
}

.header-title {
    color: white;
    font-size: 5rem;
}